*{
    margin: 0;
    
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef9f6;
  color: #3e2c1c;
}

header {
  background-color: #5e3829;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px;
}

.cartoes{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#choco{
    width: 200px;
    height: 200px;
}

#donut{
    width: 200px;
    height: 200px;
}

#hot{
    width: 200px;
    height: 200px;
}

.botao-card{
    border-radius: 10px;
    background-color: #fef9f6 ;
    border: #d9a074 3px solid;
    padding: 10px;
}

.cartoes :hover{
    background-color: #d9a07497;
    scale: 105%;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #5e3829;
    color: #fef9f6;
    padding: 50px;
    text-align: center;
}

.boas-vindas, h2{
    text-align: center;
}

img{
    border-radius: 10px;
}