*{
    margin: 0;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef9f6;
  color: #3e2c1c;
}

header {
  background-color: #5e3829;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
  border-radius: 15px;
}
#trufachoco{
    display: flex;
    width: 275px;
    height: 275px;
}
#cacaucake{
    display: flex;
    width: 275px;
    height: 275px;
}

.produtos-grid{
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

#chocohot{
    display: flex;
    height: 275px;
    width: 275px;
}

.nomeProduto, .nomeProduto2, .nomeProduto3{
    margin-bottom: 5px;
}

.nomeProduto3{
    margin-top: 1;
}

.descricao, .descricao2, .descricao3{
    margin-top: 2px;
    margin-bottom: 3px;
}

.valor, .valor2{
    margin-bottom: 10px;
}
a{
    
    margin-top: 10px;
    text-decoration: none;
    color:#fef9f6
}
.produto-card{
    border-radius: 10px;
    border:#d9a07489 3px solid;
    padding: 10px;
}
.produto-card:hover{
    background-color: #a830005f;
    scale: 105%;

}
footer{
    background-color: #5e3829;
    height: 100px;
    justify-content: center;
    color:#fef9f6;
    text-align:center
}
img{
    border-radius: 10px;
}